html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #FFFDE6;
    background-color: #142626;
    text-align: center;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.button {
    transition: all 0.3;
    margin-right: 1%;
    margin-left: 1%;
    padding: 1%;
    background-color: #FFFDE6;
    color: #142626;
    border: none;
    border-radius: 20px;
    font-family: poppins;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.button:hover {
    transition: all 0.3s;
    background-color: #142626; 
    color:white;
}
.button:not(:hover) {
    background-color: #FFFDE6;
    color: #142626;
    transition: all 0.3s;
}
.menu {
    backdrop-filter: blur(50px);
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 3;
    position: fixed;
    display: flex;
    justify-content: space-around;
    padding: 1% 0;
    font-weight: bold;
    height: 30px;
    transition: background-color 0.5s;
}
.linea-bianca {
    width: 80%; /* Imposta la larghezza al 100% della larghezza del contenitore */
    height: 1px;
    background-color: #FFFDE6;
    margin-top: 15px; /* Spazio sopra la linea */
    margin-bottom: 15px; /* Spazio sotto la linea */
    margin-left: 1%;
    margin-right: 1%;
}

#home, #trama, #personaggi, #legenda, #infografica, #spiegazione {
    background-color: #142626;
}

.contieni-personaggi{
    width: 100%;
    height: 80vh;
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 80px;

}

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 120%;
}

.img-box{
    width: 130px;
    height: 500px;
    margin: 15px;
    border-radius: 60px;
    background-image: url(immagini/prova.png);
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}

.img-box:hover{
    width:350px;
    border-radius: 30px;
    height: 520px;
}

.img-box:nth-child(2){
    background-image: url(immagini/stevie.png);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(3){
    background-image: url(immagini/marie.png);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(4){
    background-image: url(immagini/nick.png);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(5){
    background-image: url(immagini/ivan.png);
    background-size: cover;
    background-position: center;
}


.box-testo{
    font-size: 15px;
}

.box-title{
    font-size: 24px;
    margin-bottom: 5px;
}

.box-body{
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    color: #FFFDE6;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    position: relative;
    padding: 25px;
    padding-top: 15px;
    box-sizing: border-box;
    transition: all 0.8s;
    bottom: -100%;
}

.img-box:hover .box-body{
    bottom: -280px;
}

#trama{
    z-index: -2;
    width: 100%;
    height: 100vh;
    margin: auto; /* Imposta il margine automatico per centrare il blocco */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: -80px;
    background-image: url(immagini/ultimissimotrama.jpg);
    background-size: cover;
}

#home {
    background-image: url(immagini/boh3.jpg);
    position: relative;

}
#personaggi {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(immagini/sfondopersonaggi.png);
    background-size: cover;
}
#legenda{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#infografica{
    height: 550vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#infografica img{
    height: auto;
    width: 80%;
    margin-left: -12%;
}
.post-it {
    position: absolute;
    width: 3.8%; /* Imposta la larghezza desiderata */
    height: 3.8%; /* Imposta l'altezza desiderata */
    top: 249%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-it1 {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 319%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-it2 {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 347%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-it3 {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 410%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-it4 {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 438%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-it5 {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 487%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-it6 {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 612%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-it7 {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 851%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-it img {
    width: 80%; /* Imposta la larghezza desiderata per l'icona */
    height: auto; /* Imposta l'altezza automaticamente in base alla larghezza */
}

.route {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 508%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.route1 {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 431%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.route2 {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 543%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.route3 {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 559%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.route img {
    width: 80%; /* Imposta la larghezza desiderata per l'icona */
    height: auto; /* Imposta l'altezza automaticamente in base alla larghezza */
}

.mani {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 378%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mani1 {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 786%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mani img {
    width: 80%; /* Imposta la larghezza desiderata per l'icona */
    height: auto; /* Imposta l'altezza automaticamente in base alla larghezza */
}

.macchina {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 390%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.macchina1 {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 464%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.macchina2 {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 681%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.macchina img {
    width: 80%; /* Imposta la larghezza desiderata per l'icona */
    height: auto; /* Imposta l'altezza automaticamente in base alla larghezza */
}


.orologio {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 295%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orologio1 {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 474%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orologio2 {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 571%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orologio3 {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 592%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orologio img {
    width: 80%; /* Imposta la larghezza desiderata per l'icona */
    height: auto; /* Imposta l'altezza automaticamente in base alla larghezza */
}

.accendisigari {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 364%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accendisigari1 {
    position: absolute;
    width: 4%; /* Imposta la larghezza desiderata */
    height: 4%; /* Imposta l'altezza desiderata */
    top: 450%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accendisigari img {
    width: 80%; /* Imposta la larghezza desiderata per l'icona */
    height: auto; /* Imposta l'altezza automaticamente in base alla larghezza */
}

#home::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(20, 38, 38, 0), rgba(20, 38, 38, 5));
}
.titolo-film{
    z-index: 2;
    font-size: 80px;
    margin-top: 1px;
    font-family: poppins;
    font-weight: 700;
    border-right: 5px solid white;
    width: 100%;
    text-shadow: 1px 1px 3px #142626;
    white-space: nowrap;
    overflow: hidden;
    animation: 
         typing 2s,
         cursor .5s step-end infinite alternate;
}
 @keyframes cursor {
    50% { border-color: transparent }
 }
 @keyframes typing {
    from {
        width: 0;

    }
    to {
        width: 100%;
    }
}
.titolo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #FFFDE6;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
    background-image: url(immagini/file\ cover\ -\ 1.png);
    background-size: cover;
    backdrop-filter: blur(5px);
    z-index: 2;
    border-radius: 200px;
}
.sottotitolo-fillm {
    z-index: 2;
    opacity: 0;
    font-size: 35px;
    margin-top: -90px;
    font-family: poppins;
    font-weight: 200;
    text-shadow: 1px 1px 3px #142626;
    animation: apparizione 1.5s ease-in-out 1s forwards;
}
@keyframes apparizione {
    from {
        opacity: 0;
        bottom: 100%;
    }
    to {
        opacity: 1;
        bottom: 0%;
    }
}
.pers{
    position: absolute;
    margin-bottom: 500px;
    font-family: poppins;
}
.paragrafo-trama {
    transition: all 0.3s;
    font-size: 15px;
    width: 85%;
    height: auto;
    overflow: hidden;
    font-family: POPPINS;
    position: relative;
    box-sizing: border-box;
    padding: 3%;
    border: 2px solid #FFFDE6;
    border-radius: 80px;

}
.paragrafo-trama:hover{
    transition: all 0.3s;
    background-color: #FFFDE6;
    color: #142626;
}
.t-trama{
    transition: all 0.8s;
    font-family: poppins;
    text-align: center;
    position: relative;
}

#legenda img{
    width: 65%;
    height: auto;
    margin-top: 20%;
}
.leggia{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.leggia img{
    max-width: 30%;
    height: auto;
    margin: 2%;
}
#trama img{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}
.cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {
    fill: none;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }

  .cls-1, .cls-2, .cls-4, .cls-5 {
    stroke-width: 1.05px;
  }

  .cls-1, .cls-3 {
    stroke: #fff;
  }

  .cls-2 {
    stroke: #8db8c4;
  }

  .cls-3 {
    stroke-width: 2.94px;
  }

  .cls-4 {
    stroke: #a67e9d;
  }

  .cls-5 {
    stroke: #375544;
  }


  .lines {
    height: auto;
    width: 54%;
    position: absolute;
    margin-top: 29%;
    margin-left: 3.5%;
  }
  .o-lines{
    position: absolute;
    height: auto;
    width: 67.5%;
    margin-left: -31%;
    margin-top: -46%;
  }
  .mappa-vuota{
    position: absolute;
  }
  .kls-1 {
    fill: none;
    stroke: #fff;
  }
  .linea-tempo{
    width: 80%;
    height: 600vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #spiegazione{
    z-index: -2;
    width: 100%;
    height: 100vh;
    margin: auto; /* Imposta il margine automatico per centrare il blocco */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: -80px;
    background-image: url(immagini/sfondo-spiegazione.png);
    background-size: cover;
}

.paragrafo-spiegazione {
    transition: all 0.3s;
    font-size: 15px;
    width: 85%;
    height: auto;
    overflow: hidden;
    font-family: POPPINS;
    position: relative;
    box-sizing: border-box;
    padding: 3%;
    border: 2px solid #FFFDE6;
    border-radius: 80px;

}
.paragrafo-spiegazione:hover{
    transition: all 0.3s;
    background-color: #FFFDE6;
    color: #142626;
}



.img-box:hover{
    width:350px;
    border-radius: 30px;
    height: 520px;
}

    

#spoiler{
    height: auto;
    justify-content: center;
    display: flex;

}
.mappafinale {
    max-width: 75%; /* L'immagine si adatta alla larghezza massima del contenitore */
    height: auto; /* L'immagine si adatta proporzionalmente alla larghezza */
    margin-top: 10px; /* Aggiungi margine sopra l'immagine a tua scelta */
  }